[Unit]
Description=Lorawan Gateway Bridge
Wants=network-online.target
After=network-online.target

[Service]
User=gatewaybridge
Group=gatewaybridge
ExecStart=/usr/bin/lorawan-gateway-bridge
Restart=on-failure

[Install]
WantedBy=multi-user.target
Alias=lora-gateway-bridge.service
